# Bài kiểm tra số 2 _ Ca 1

## Phần 1: Numpy

In [1]:
import numpy as np
import pandas as pd

In [38]:
#1. Tạo mảng ngẫu nhiên arr1 gồm 10 phần tử số nguyên từ 10-29
np.random.seed(2)
arr1 = np.random.randint(10,30,size=10)
arr1

array([18, 25, 23, 18, 21, 28, 21, 18, 17, 12], dtype=int32)

In [40]:
#2. Tạo mảng arr2 là mảng arr1 nhưng có các giá trị chia hết cho 3 được thay bằng -1
arr2 = np.where(arr1 % 3==0, -1, arr1)
arr2

array([-1, 25, 23, -1, -1, 28, -1, -1, 17, -1], dtype=int32)

In [47]:
#3. Tạo mảng arr3 chứa 10 phần tử với các phần tử ở index lẻ là 0 và ở index chẵn là số chẵn.
arr3 = np.arange(10)
arr3[arr3 % 2 != 0] = 0
arr3

array([0, 0, 2, 0, 4, 0, 6, 0, 8, 0])

In [142]:
#4.  Liệt kê ra các phần tử giống nhau trong arr1 và arr3 (bang value va index)
l = []
for i in range(len(arr1)):
    if arr1[i] == arr3[i]:
        l.append((i, arr1[i]))
l

[]

In [95]:
#5. Phát sinh mảng 2 chiều arr_2D (4x6) với mỗi phần tử ngẫu nhiên từ 1->100 
np.random.seed(3)
arr_2D = np.random.randint(1,101,size=24)
arr_2D = arr_2D.reshape((4,6))
arr_2D

array([[25,  4, 57, 73,  1, 22],
       [20, 75, 42, 11, 22, 39],
       [97, 21, 45, 94, 40, 15],
       [27, 82, 91, 23, 67,  3]], dtype=int32)

In [96]:
#6. Liệt kê các dòng trong arr_2D mà phần tử cột cuối là chẵn 
arr_2D[arr_2D[:,-1]%2 == 0]

array([[25,  4, 57, 73,  1, 22]], dtype=int32)

In [97]:
#7. Tính trung bình các dòng lẻ
np.mean(arr_2D[1::2],axis=1)

array([34.83333333, 48.83333333])

In [98]:
#8. Thêm cột 7 là tổng của mỗi dòng trong arr_2D
new_row = np.sum(arr_2D,axis= 1).reshape(-1,1)
arr_2D = np.hstack((arr_2D,new_row))
arr_2D

array([[ 25,   4,  57,  73,   1,  22, 182],
       [ 20,  75,  42,  11,  22,  39, 209],
       [ 97,  21,  45,  94,  40,  15, 312],
       [ 27,  82,  91,  23,  67,   3, 293]])

In [99]:
#9. Thêm dòng thứ 5 là tổng của mỗi cột trong arr_2D
new_col = np.sum(arr_2D,axis= 0).reshape(1,-1)
arr_2D = np.vstack((arr_2D,new_col))
arr_2D

array([[ 25,   4,  57,  73,   1,  22, 182],
       [ 20,  75,  42,  11,  22,  39, 209],
       [ 97,  21,  45,  94,  40,  15, 312],
       [ 27,  82,  91,  23,  67,   3, 293],
       [169, 182, 235, 201, 130,  79, 996]])

In [116]:
#10. Liệt kê các phần tử trong mảng arr_2D là số nguyên tố.
def nguyento(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
arr_2D[np.vectorize(nguyento)(arr_2D)]

array([ 73,  11,  97,  23,  67,   3, 293,  79], dtype=int32)

## Phần 2: Pandas

In [117]:
#1. Đọc file dữ liệu đã cho shoefly.csv
df = pd.DataFrame(pd.read_csv('shoefly.csv',sep=','))
df

,order_id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,price,amount
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,75,1
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,36,1
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,55,1
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,49,2
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,59,1
5,52386,Julie,Marsh,female,JulieMarsh59@gmail.com,sandles,fabric,black,39,2
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,45,1
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,62,1
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,105,1
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,36,1
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,72,1
11,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,65,1
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,49,2
13,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,55,1
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,45,2
15,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,79,1
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,39,3
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,48,1
18,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,57,1
19,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,63,1

In [143]:
#2. Thêm 1 cột total = price * amount
df['total'] = df['price'] * df['amount']
df

,order_id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,price,amount,total,shoe_source
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,75,1,75,vegan
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,36,1,36,vegan
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,55,1,55,vegan
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,49,2,98,vegan
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,59,1,59,animal
5,52386,Julie,Marsh,female,JulieMarsh59@gmail.com,sandles,fabric,black,39,2,78,vegan
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,45,1,45,vegan
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,62,1,62,vegan
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,105,1,105,animal
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,36,1,36,animal
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,72,1,72,animal
11,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,65,1,65,vegan
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,49,2,98,vegan
13,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,55,1,55,vegan
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,45,2,90,vegan
15,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,79,1,79,vegan
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,39,3,117,animal
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,48,1,48,animal
18,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,57,1,57,vegan
19,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,63,1,63,vegan

In [141]:
#4. Cho biết Frances Palmer đã đặt hàng gì?
df.loc[df['first_name'] +' '+ df['last_name'] == 'Frances Palmer']

,order_id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,price,amount,total,shoe_source
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,36,1,36,animal

In [121]:
#5. Hãy liệt kê tất cả các đơn đặt hàng có loại giày là clogs, boots, và ballet flats
df[(df['shoe_type'] == 'clogs')|(df['shoe_type'] == 'boots')|(df['shoe_type'] == 'ballet flats')  ]

,order_id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,price,amount,total
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,75,1,75
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,36,1,36
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,49,2,98
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,59,1,59
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,45,1,45
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,62,1,62
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,105,1,105
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,72,1,72
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,49,2,98
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,45,2,90
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,39,3,117
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,48,1,48

In [122]:
#6. Hãy thêm một cột mới shoe_source, nếu các vật liệu là leather thì là animal, ngược lại thì ghi là vegan  
df['shoe_source'] = df['shoe_material'].apply(lambda x: 'animal' if x == 'leather' else 'vegan')
df

,order_id,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,price,amount,total,shoe_source
0,54791,Rebecca,Lindsay,female,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,75,1,75,vegan
1,53450,Emily,Joyce,female,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,36,1,36,vegan
2,91987,Joyce,Waller,female,Joyce.Waller@gmail.com,sandles,fabric,black,55,1,55,vegan
3,14437,Justin,Erickson,male,Justin.Erickson@outlook.com,clogs,faux-leather,red,49,2,98,vegan
4,79357,Andrew,Banks,male,AB4318@gmail.com,boots,leather,brown,59,1,59,animal
5,52386,Julie,Marsh,female,JulieMarsh59@gmail.com,sandles,fabric,black,39,2,78,vegan
6,20487,Thomas,Jensen,male,TJ5470@gmail.com,clogs,fabric,navy,45,1,45,vegan
7,76971,Janice,Hicks,female,Janice.Hicks@gmail.com,clogs,faux-leather,navy,62,1,62,vegan
8,21586,Gabriel,Porter,male,GabrielPorter24@gmail.com,clogs,leather,brown,105,1,105,animal
9,62083,Frances,Palmer,female,FrancesPalmer50@gmail.com,wedges,leather,white,36,1,36,animal
10,91629,Jessica,Hale,female,JessicaHale25@gmail.com,clogs,leather,red,72,1,72,animal
11,98602,Lawrence,Parker,male,LawrenceParker44@gmail.com,wedges,fabric,brown,65,1,65,vegan
12,45832,Susan,Dennis,female,SusanDennis58@gmail.com,ballet flats,fabric,white,49,2,98,vegan
13,33862,Diane,Ochoa,female,DO2680@gmail.com,sandles,fabric,red,55,1,55,vegan
14,73431,Rebecca,Charles,female,Rebecca.Charles@gmail.com,boots,faux-leather,white,45,2,90,vegan
15,93889,Jacqueline,Crane,female,JC2072@hotmail.com,wedges,fabric,red,79,1,79,vegan
16,39888,Vincent,Stephenson,male,VS4753@outlook.com,boots,leather,black,39,3,117,animal
17,35961,Roy,Tillman,male,RoyTillman20@gmail.com,boots,leather,white,48,1,48,animal
18,24560,Thomas,Roberson,male,Thomas.Roberson@gmail.com,wedges,fabric,red,57,1,57,vegan
19,28559,Angela,Newton,female,ANewton1977@outlook.com,wedges,fabric,red,63,1,63,vegan

In [123]:
#7. Hãy cho biết giá trị đơn hàng trung bình của các mặt hàng giày thuộc nhóm animal là bao nhiêu
df[df['shoe_source'] == 'animal']['total'].mean()

np.float64(72.83333333333333)

In [125]:
#8. Hiển thị orders theo thứ tự giảm dần orders và tăng dần last_name
df.loc[:,['order_id','last_name']].sort_values(by=['order_id','last_name'] , ascending=[False,True])

    order_id   last_name
11     98602      Parker
15     93889       Crane
2      91987      Waller
10     91629        Hale
4      79357       Banks
7      76971       Hicks
14     73431     Charles
9      62083      Palmer
0      54791     Lindsay
1      53450       Joyce
5      52386       Marsh
12     45832      Dennis
16     39888  Stephenson
17     35961     Tillman
13     33862       Ochoa
19     28559      Newton
18     24560    Roberson
8      21586      Porter
6      20487      Jensen
3      14437    Erickson

In [135]:
#9 Thống kê số lượng khách nam và nữ.
df['gender'].value_counts().reset_index()

   gender  count
0  female     12
1    male      8

In [139]:
#10 Hãy cho biết giá trung bình của mỗi loại giày.
df.groupby('shoe_type')['total'].mean().reset_index().rename(columns={'total': 'mean'})

      shoe_type       mean
0  ballet flats  67.000000
1         boots  78.500000
2         clogs  76.166667
3       sandles  62.666667
4        wedges  60.000000